*{
    margin:0;
    padding: 0;
}
.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    left: -190px;
    top: 370px;
}
.list-item{
    margin: 0px 20px;
    color:rgba(145, 145, 145) ;
}
.list-item:first-child{
    color: #000;
    font-weight: bold;
}
.navbar-container img{
    width:8%;
    margin-top: 30px;
    margin-left: 50px;
}
 div:nth-child(2){
    margin-left: 400px;
    position: relative;
    bottom: 400px;
 }
   button{
    position: relative;
    left: 90%;
    z-index: 2;
    bottom: 60px;
    padding: 10px 20px;
    background-color: #5955b3;
    color: #ffffff;
    border: none;
    border-radius: 8px;
 }
.btn{
    position: relative;
    left: 100px;
    top: 50px;
    border: none;
    border-radius: 8px;
    background-color: #5955b3;
    color: #ffffff;
}
.heading-text{
    font-size: 70px;
    width: 40%;
    position: relative;
    left: 40px;
}
span{
    color: #5955b3;
}
.description{
    position: relative;
    top: 20px;
    width: 25%;
    left: 50px;
    color: rgba(145, 145, 145);

}
body{
    overflow: hidden;
}
  @media screen and (max-width:500px) {
    .list{
        font-size: 50px;
        margin-top: 30px;
    }
    button{
        display: none;
    }
    .heading-text{
        font-size: 100px;
        width: 160vw;
        text-align: center;
       margin-top: 100px;
    }
    .description{
        font-size: 40px;
        width: 160vw;
        text-align: center;
    }
    div:nth-child(2){
       z-index: -1;     
     }
     .navbar-container img{
        width: 30%;
       position: relative;
       top: 50px;
     }
  }
